/* section/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
	--bg-black: black;

	--text-white: #fff;
	--text-yellow: #e6fb04;

	--fontFamily-montserrat: 'Montserrat', sans-serif;
	--fontFamily-delaGothicOne: 'Dela Gothic One', sans-serif;

	--fontSize-1: 0.75rem;
	--fontSize-2: 1rem;
	--fontSize-3: 1.25rem;
	--fontSize-4: 1.5rem;
	--fontSize-5: 4.375rem;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semiBold: 600;
	--weight-bold: 700;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
img,
time,
span,
input,
button,
text-area,
ion-icon {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	height: auto;
}

main {
	width: 100%;
}

input,
button,
textarea {
	background: none;
	border: none;
	font: inherit;
}

button {
	cursor: pointer;
}

ion-icon {
	pointer-events: none;
}

address {
	font-style: normal;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	line-height: 1;
}

body,
html {
	background: var(--bg-black);
	overflow-x: hidden;
	overflow-y: hidden;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.icon {
	height: 30px;
	width: 30px;
}

.btn {
	text-transform: uppercase;
	background-color: var(--text-yellow);
	width: 230px;
	height: 80px;
	font-family: var(--fontFamily-montserrat);
	font-weight: var(--weight-semiBold);
	font-size: var(--fontSize-3);
	border-radius: 5px;
}

.description {
	text-transform: uppercase;
	font-family: var(--fontFamily-montserrat);
	font-weight: var(--weight-medium);
	font-size: var(--fontSize-4);
	color: var(--text-yellow);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
	width: 100%;
	background: var(--bg-black);
	padding-inline: 50px;
	padding-block-start: 32px;
	height: 146px;
	overflow-y: hidden;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.social-list {
	position: absolute;
	right: calc(50% + 129px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

.navbar-toggle-btn-container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.circle {
	position: absolute;
	width: 114px;
	height: 114px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.circle-text {
	width: 100%;
	height: 100%;
	position: absolute;
	animation: rotation 10s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle-text span {
	position: absolute;
	left: 50%;
	font-size: var(--fontSize-1);
	font-family: var(--fontFamily-montserrat);
	font-weight: var(--weight-medium);
	transform-origin: 0 57px;
	color: var(--text-yellow);
}

.languages-list {
	position: absolute;
	left: calc(50% + 129px);
	display: flex;
	align-items: stretch;
	justify-items: flex-start;
	gap: 61px;
}

.language-choice {
	color: var(--text-white);
	font-size: var(--fontSize-2);
	font-family: var(--fontFamily-montserrat);
	font-weight: var(--weight-medium);
	text-transform: uppercase;
}

.contact-link {
	font-family: var(--fontFamily-montserrat);
	font-weight: var(--weight-semiBold);
	color: var(--text-yellow);
}

/*-----------------------------------*\
  #LANDING
\*-----------------------------------*/

.landing {
	margin-block-start: 42px;
	margin-inline-start: 200px;
	width: 100%;
}

.landing .container {
	position: relative;
	display: flex;
	width: 100%;
}

.slogan-container {
	margin-inline-end: 312px;
}

.go-to-us {
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--text-yellow);
	font-family: var(--fontFamily-delaGothicOne);
	font-weight: var(--weight-regular);
	font-size: var(--fontSize-5);
	margin-block-start: 106px;
}

.go-to-us > span {
	display: inline;
	margin-left: 30px;
	color: var(--text-white);
	font-family: var(--fontFamily-delaGothicOne);
	font-weight: var(--weight-regular);
	font-size: var(--fontSize-5);
	text-transform: uppercase;
	-webkit-text-stroke-width: 0px;
}

.landing .description-container {
	margin-inline-start: 30px;
	margin-block: 47px 127px;
}

.razor {
	position: absolute;
	top: -84px;
	left: 252px;
}

.client-and-sticker {
	position: relative;
	margin-block-start: 86px;
	margin-inline-end: 303px;
}

.sticker {
	position: absolute;
	top: -86px;
	right: -42px;
}

.landing .btn-container {
	display: flex;
	align-items: center;
}
